/*

html{
    text-align: center;
}

.wrap0 {
    justify-content: space-between;
    margin-bottom: 5px;
  }

.column {
    width: 345px;
    height: auto;
    background-color: white;
    position: relative;
}

.wrap1 {
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;

}

img {
    width: 200px;
    height: 200px;
}

.wrap2 {
    width: 345px;
}


.wrap1 .pad {
    padding: 0;
}

.list-group {
    padding: 32px;
    border: 1px solid #dcdcdc;
}

.addmargin {
    margin: 0px 15px;
  }

*/


